body {
  align-items: center;
  text-align: center;
  background-color: lightgray;
}
h1 {
  background-color: yellow;
  margin: 40px, auto;
  padding-top: 30px;
  padding-bottom: 20px;
  border: 8px dashed black;
}
.bob img{
  width: 500px;
  border: 6px dashed black;
  background-color: yellow;
}
img {
  width: 500px;
  height: 432px;
}
